[Desktop Entry]
Type=Application
Name=Hyprland Inspector Settings
Comment=Configure Hyprland Inspector
Exec=/home/matt/Projects/hyprland-inspector/bin/hyprland-inspector --settings
Icon=hyprland-inspector
Terminal=false
Categories=Settings;System;
Keywords=Hyprland;inspector;settings;
